.simulacao-card  {
    margin-top: 2em; 
    margin-left: 2em;  
    width: fit-content;
    margin-bottom: 2em;
    max-width: fit-content;
}

table.tabela-simulacao {
    width: fit-content;
    white-space: nowrap;
} 

.mat-cell, .mat-header-cell {
    padding-right: 0.5em;
} 

.form-field-composicao {
    width: 100%;
}

.botoes-simulacao { 
    visibility: hidden; 
    color: white;
    opacity: 0.85;
    width: 1em;
}
tr.mat-row:hover {
    background-color: lightgray;
}

tr.mat-row:hover .botoes-simulacao {       
    visibility: visible; 
    width: 1em;
}
 