.caixa-card, .econmias-card, .total-entrada-card {
    margin-top: 2em; 
    margin-left: 2em;  
    width: fit-content;
}

.valores div {
    display: inline-flex;
}

div.caixa-economias, div.caixa-meta, div.total-entrada { 
    width: fit-content; 
}

div.simulacao { 
    margin-top: 2em;
    width: fit-content;
    clear: both;
}

.botao-caixa div {
    padding: 0;
}