.mat-card {
    max-width: fit-content;
  }
  
table {
    width: fit-content;
} 

.mat-cell, .mat-header-cell {
    padding-right: 0.5em;
}

.botoes-lista-pagamento { 
    display: none; 
    color: lightgray;
    opacity: 0.85;
}

tr.mat-row:hover .botoes-lista-pagamento {       
    display: inline-block;
    margin-left: -5.69em;
}