.mat-card {
    max-width: fit-content;
  }
  
table {
    width: fit-content;
} 

.mat-cell, .mat-header-cell {
    padding-right: 0.5em;
}

.botoes-lista-pagamento { 
    visibility: hidden; 
    color: lightgray;
    opacity: 0.85;
    width: 1em;
}

tr.mat-row:hover .botoes-lista-pagamento {       
    visibility: visible;
    /* margin-left: -5.69em; */
    width: 1em;
}