<h1 mat-dialog-title>Novo Pagamento</h1>

mat

<mat-dialog-content  [formGroup]="form">
  <p>Cadastro de novo pagamento</p>
  <mat-form-field>
    <input matInput placeholder="Beneficiário" required formControlName="beneficiario"  [value]="form.get('beneficiario').value">
  </mat-form-field>  
  <mat-form-field> 
    <input matInput [matDatepicker]="dtVencimento" placeholder="Data de Vencimento" required formControlName="dtVencimento"> 
    <mat-datepicker-toggle matSuffix [for]="dtVencimento"></mat-datepicker-toggle>
    <mat-datepicker #dtVencimento></mat-datepicker>
  </mat-form-field>  
  <mat-form-field>
    <input matInput placeholder="Valor" required type="number" formControlName="valor">
  </mat-form-field>   
  <mat-form-field> 
    <input matInput [matDatepicker]="dtPagamento" placeholder="Data de Pagamento" required formControlName="dtPagamento"> 
    <mat-datepicker-toggle matSuffix [for]="dtPagamento"></mat-datepicker-toggle>
    <mat-datepicker #dtPagamento></mat-datepicker>    
  </mat-form-field>  
  <mat-form-field>
    <input matInput placeholder="Valor Pago" required type="number" formControlName="valorPago">
  </mat-form-field>  
  <mat-form-field>
    <input matInput placeholder="Autenticação" required formControlName="autenticacao">
  </mat-form-field>  
  <mat-form-field>
    <input matInput placeholder="Conta Destino" required formControlName="contaDestino">
  </mat-form-field>  
  <mat-form-field>
    <input matInput placeholder="CNPJ" required formControlName="cnpj">
  </mat-form-field>  
  <!-- <mat-form-field>
    <mat-label>Tipo do Pagamento</mat-label>
    <mat-select>
      <mat-option *ngFor="let tipo of tipoPagamento" [value]="tipo.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>  -->
</mat-dialog-content >


<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</mat-dialog-actions>