<h1 mat-dialog-title>Novo Pagamento</h1>
<div mat-dialog-content>
  <p>Cadastro de novo pagamento</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.beneficiario" placeholder="Beneficiário" required>
  </mat-form-field>  
  <mat-form-field> 
    <input matInput [(ngModel)]="data.dtVencimento" [matDatepicker]="dtVencimento" placeholder="Data de Vencimento" required> 
    <mat-datepicker-toggle matSuffix [for]="dtVencimento"></mat-datepicker-toggle>
    <mat-datepicker #dtVencimento></mat-datepicker>
  </mat-form-field>  
  <mat-form-field>
    <input matInput [(ngModel)]="data.valor" placeholder="Valor" required type="number">
  </mat-form-field>   
  <mat-form-field> 
    <input matInput [(ngModel)]="data.dtPagamento" [matDatepicker]="dtPagamento" placeholder="Data de Pagamento" required> 
    <mat-datepicker-toggle matSuffix [for]="dtPagamento"></mat-datepicker-toggle>
    <mat-datepicker #dtPagamento></mat-datepicker>    
  </mat-form-field>  
  <mat-form-field>
    <input matInput [(ngModel)]="data.valorPago" placeholder="Valor Pago" required>
  </mat-form-field>  
  <mat-form-field>
    <input matInput [(ngModel)]="data.autenticacao" placeholder="Autenticação" required>
  </mat-form-field>  
  <mat-form-field>
    <input matInput [(ngModel)]="data.contaDestino" placeholder="Conta Destino" required>
  </mat-form-field>  
  <mat-form-field>
    <input matInput [(ngModel)]="data.cnpj" placeholder="CNPJ" required>
  </mat-form-field>  
  <!-- <mat-form-field>
    <mat-label>Tipo do Pagamento</mat-label>
    <mat-select>
      <mat-option *ngFor="let tipo of tiposPagam" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>  -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>