.mat-card {
    max-width: fit-content;
  }

.mat-cell, .mat-header-cell {
    padding-right: 0.5em;
}

table.savings-header-table td {
  font-weight: bold;
}

table.savings-table tr {
  height: 25px;
}

table.savings-table td {
  border: none;
}

.botoes-lista-pagamento { 
  visibility: hidden; 
  color: white;
  opacity: 0.85;
  width: 1em;
}
tr.mat-row:hover {
  background-color: lightgray;
}

tr.mat-row:hover .botoes-lista-pagamento {       
  visibility: visible;
  /* margin-left: -5.69em; */
  width: 1em;
}