<h1 style="text-align: center">{{ titulo }}</h1>
<div class="pagamentos-container"> 
    <div class="barras-progresso">  
        <app-barras-progresso 
            [resumo]="resumo" 
            [pagamentosLista]="pagamentosLista" 
            [savings]="savings" 
            [metaParcelaUnica]="metaParcelaUnica" 
            [metaParcelas]="metaParcelas">
        </app-barras-progresso> 
    </div>
    <div class="resumo">
        <app-pagamentos-resumo [resumo]="resumo"></app-pagamentos-resumo>
    </div>
    <div class="pagamentos-lista">
        <app-pagamentos-lista [pagamentosLista]="pagamentosLista" (updateData)="ngOnInit()"></app-pagamentos-lista>
    </div>
    <div class="savings">
        <app-savings [savings]="savings" [meta]="metaParcelaUnica"></app-savings>
    </div>
    <div class="parcelas">
        <app-parcelas [pagamentosLista]="pagamentosLista" [meta]="metaParcelas"></app-parcelas>
    </div>
    <div class="economias">
        <app-economias [economias]="economias"></app-economias>
    </div>
</div>