.barras-progresso {
    margin-top: 2em; 
    margin-left: 2em;  
}

.resumo, .pagamentos-lista, .savings, .parcelas, .economias {
    margin-top: 2em; 
    margin-left: 2em;  
    width: fit-content; 
} 