<h1 style="text-align: center">{{ titulo }}</h1>
<div class="pagamentos-container">
    <div id="barras-progresso">
        <app-barras-progresso></app-barras-progresso>
    </div>
    <div id="resumo">
        <app-pagamentos-resumo></app-pagamentos-resumo>
    </div>
    <div id="pagamentos-lista">
        <app-pagamentos-lista></app-pagamentos-lista>
    </div>
    <div id="savings">
        <app-savings></app-savings>
    </div>
    <div id="parcelas">
        <app-parcelas></app-parcelas>
    </div>
    <div id="economias">
        <app-economias></app-economias>
    </div>
</div>