<div class="barras-progresso">

  <div class="barra-progresso-entrada">
    <div class="label-barra">
      <p>Entrada:</p>
    </div>
    <div class="barra">
      <mat-progress-bar [color]="valueEntrada >= 1 ? 'primary' : 'warn'" mode="determinate"
        [value]="valueEntrada * 100">
      </mat-progress-bar>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="barra-progresso-parecelaUnica">
    <div class="label-barra">
      <p>Parcela única:</p>
    </div>
    <div class="barra">
      <mat-progress-bar [color]="valueParcelaUnica >= 1 ? 'primary' : 'warn'" mode="determinate"
        [value]="valueParcelaUnica * 100">
      </mat-progress-bar>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="barra-progresso-parcelas">
    <div class="label-barra">
      <p>Parcelas mensais:</p>
    </div>
    <div class="barra">
      <mat-progress-bar [color]="valueParcelas >= 1 ? 'primary' : 'warn'" mode="determinate"
        [value]="valueParcelas * 100">
      </mat-progress-bar>
    </div>
    <div class="clearfix"></div>
  </div>

</div>
