<div> 
    <p>Entrada:</p><mat-progress-bar [color]="valueEntrada === 100 ? 'primary' : 'warn'" [mode]="mode" [value]="valueEntrada"></mat-progress-bar>
</div>
<div> 
    <p>Parcela única:</p><mat-progress-bar [color]="valueParcelaUnica === 100 ? 'primary' : 'warn'" [mode]="mode" [value]="valueParcelaUnica"></mat-progress-bar>
</div>
<div> 
    <p>Parcelas mensais:</p><mat-progress-bar [color]="valueParcelas === 100 ? 'primary' : 'warn'" [mode]="mode" [value]="valueParcelas"></mat-progress-bar>
</div>
 